<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css" />
    <title>{% block title %}{% endblock %} - User management</title>
    {% block head %}
        <style type="text/css">
            .important { color: #336699; }
        </style>
    {% endblock %}
</head>
<body>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <footer>
        {% block footer %}
        &copy; Copyright 2025 by <a href="http://petrousoft.com">PetrouSoft</a>.
        {% endblock %}
    </footer>
</body>
</html>
